<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dataloader.mapper.DataLoaderMapper">
    
    <update id="executeSql">
        ${sql}
    </update>
    
    <update id="executeBatchSql">
        <foreach collection="paramsList" item="params" separator=";">
            ${sql}
        </foreach>
    </update>
    
    <!-- 批量插入并返回主键 -->
    <insert id="batchInsertWithKeys" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO ${tableName} (
        <foreach collection="fields" item="field" separator=",">
            ${field}
        </foreach>
        ) VALUES 
        <foreach collection="dataList" item="item" separator=",">
            (
            <foreach collection="fields" item="field" separator=",">
                #{item.${field}}
            </foreach>
            )
        </foreach>
    </insert>
    
    <!-- 动态批量插入 -->
    <insert id="batchInsertDynamic" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        ${sql}
    </insert>
    

    <!-- 批量更新 -->
    <update id="batchUpdate">
        <foreach collection="dataList" item="item" separator=";">
            UPDATE ${tableName} SET 
            <foreach collection="fields" item="field" separator=",">
                <if test="!primaryKeys.contains(field)">
                    ${field} = #{item.${field}}
                </if>
            </foreach>
            WHERE 
            <foreach collection="primaryKeys" item="pk" separator=" AND ">
                ${pk} = #{item.${pk}}
            </foreach>
        </foreach>
    </update>
    
    <!-- 批量UPSERT (MySQL) -->
    <insert id="batchUpsert">
        INSERT INTO ${tableName} (
        <foreach collection="fields" item="field" separator=",">
            ${field}
        </foreach>
        ) VALUES 
        <foreach collection="dataList" item="item" separator=",">
            (
            <foreach collection="fields" item="field" separator=",">
                #{item.${field}}
            </foreach>
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        <foreach collection="fields" item="field" separator=",">
            <if test="!primaryKeys.contains(field)">
                ${field} = VALUES(${field})
            </if>
        </foreach>
    </insert>
    
    <!-- 批量删除 -->
    <delete id="batchDelete">
        DELETE FROM ${tableName} WHERE 
        <foreach collection="primaryKeys" item="pk" open="(" close=")" separator=" AND ">
            ${pk} IN 
            <foreach collection="dataList" item="item" open="(" close=")" separator=",">
                #{item.${pk}}
            </foreach>
        </foreach>
    </delete>
</mapper>
